@model IEnumerable<ncqa_lab07.Models.ncqaEmployee>

@{
    ViewData["Title"] = "ncqaIndex";
}

<h1>ncqaIndex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ncqaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ncqaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ncqaBirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ncqaEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ncqaPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ncqaSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ncqaStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ncqaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ncqaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ncqaBirthDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ncqaEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ncqaPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ncqaSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ncqaStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
